<h1> Mechanic: <%= @mechanic.name %> </h1>

  Years of Experience: <%= @mechanic.years_of_experience %>

<% @rides.thrill_sort.each_with_index do |ride, index| %>
  <li id="ride_<%=index %>" >
  <p>Working On: <%= ride.name %> </p>
  </li>
<%end%>